* {
  font-family: Font;
}

::selection {
  color: yellowgreen;
}

@font-face {
  font-family: "Font";
  src: url("../src/assets/fonts/PPNeueMachina_Light.ttf") format("truetype");
}

@font-face {
  font-family: "Name";
  src: url("../src/assets/fonts/WireOne.ttf") format("truetype");
}
